#include <windows.h>
#include "resource.h"

SETTING DIALOG DISCARDABLE 0, 0, 110, 110
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | DS_CENTER
CAPTION "ブロック崩し 簡易設定"
FONT 9, "MS Shell Dlg"
{
 CONTROL "解像度を選択して下さい", IDC_GROUPBOX100, "BUTTON", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, 10, 10, 90, 55
 CONTROL "ウィンドウ (640×480)"  , IDC_RADIOBUTTON101, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | WS_GROUP, 20,25, 70, 15
 CONTROL "フルスクリーン"  , IDC_RADIOBUTTON102, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 20, 40, 70, 15

 CONTROL "ゲームスタート", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON, 30, 80, 50, 15
}

